@page "/notifications"

<PageTitle>Notifications</PageTitle>

<div class="card m-1">
    <h4 class="card-header">Notifications</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <label class="form-label">Consumption alerts</label> 
            </div>
            <div class="col-sm">
                <RadzenSwitch @bind-Value=@value Change=@OnChange class=align-middle />        
            </div>
        </div>
    </div>
</div>

@code {
    bool value;

    void OnChange(bool value)
    {
        Console.WriteLine($"Value changed to {value}");
    }
}
