@page "/profile"
@inject HttpClient httpClient

<PageTitle>Your Profile</PageTitle>


<div class="card m-1">
    <h4 class="card-header">Your info</h4>
    <div class="card-body">
    @if(CustomerProfile == null )
    {
        <span>Loading profile...</span>
    }
    else
    {
        <EditForm Model="@CustomerProfile">
            <div class="form-group col-3">
                <label class="form-label">Name</label>
                <InputText @bind-Value="CustomerProfile.Name" class="form-control" />
            </div>

            <div class="form-row col-3">
                <label class="form-label">Email</label>
                <InputText @bind-Value="CustomerProfile.Email" class="form-control" />
            </div>

            <div class="form-group col-3">
                <label for="email" class="form-label">Phone</label>
                <InputText id="email" @bind-Value="CustomerProfile.PhoneNumber" class="form-control" />
            </div>

            <br />
            <button type="submit" class="btn btn-primary">Update</button>
        </EditForm>
    }
    </div>
</div>

<div class="card m-1">
    <h4 class="card-header">Communication</h4>
    <div class="card-body">

    @if (NotificationSettings is null)
    {
        <span>Loading settings...</span>
    }   
    else
    {
        <EditForm Model="@NotificationSettings">


            <div class="form-group col-3">
                <label for="communicationChannel" class="form-label">Prefered Channel</label>
                <InputSelect id="communicationChannel" @bind-Value="NotificationSettings.PreferedCommunicationChannel" class="form-select">
                    <option value="@SelfService.WebApp.Models.CommunicationChannel.Email">Email</option>
                    <option value="@SelfService.WebApp.Models.CommunicationChannel.Phonenumber">Phone</option>
                </InputSelect>
            </div>

            <br />
            <button type="submit" class="btn btn-primary">Update</button>
        </EditForm>
    }
    </div>
</div>