@page "/subscriptions"

<PageTitle>Subscriptions</PageTitle>

<h1>Create new subscription</h1>
<button class="btn btn-primary" @onclick="CreateSubscription">Click me</button>

@code {
    private int currentCount = 0;

    private void CreateSubscription()
    {
        
    }
}
