@page "/notifications"

<PageTitle>Notifications</PageTitle>

<div class="card m-1">
    <h4 class="card-header">Notifications</h4>
    <div class="card-body">
    @if(Subscriptions == null )
    {
        <span>Loading notifications...</span>
    }
    else
    {
        <div class="row">
            <div class="col-sm">
                <label class="form-label">Consumption alerts</label> 
            </div>
            <div class="col-sm">
                <RadzenSwitch @bind-Value=@Subscriptions["abnormalconsumption"] Change=@(args => UpdateSubscription(args, "abnormalconsumption")) class=align-middle />        
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <label class="form-label">Outage alerts [coming soon]</label> 
            </div>
            <div class="col-sm">
                <RadzenSwitch Disabled class=align-middle />        
            </div>
        </div>
    }
    </div>
</div>
